*{
    padding: 0; margin: 0; box-sizing: border-box;
}
.changa {
    font-family: "Changa", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.montserrat {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
} 
.landing{
    width: 98.5vw; height: 100vh;  z-index: 999;
}
.left{
    height: 100%; width: 40%; display: flex; padding-left: 5vw;
    flex-direction: column; justify-content: center;  gap: 3vw; position: relative;
}
.left>p:nth-child(1){
   font-family: "montserat",sans-serif; font-weight: 600;  color: #f9f9f9; font-size: 3vw;
}
.left>p:nth-child(2){
   font-family: "montserat",sans-serif;  color: #f9f9f9c8; font-size: 1.6vw;
}
.landing>img{
    height: 6vw; width: 4vw; object-fit: 100% 100%; position: absolute; top: 19%; left: 5%;
    animation: epic-easing-bounce-floppy 2s linear forwards infinite;
}
@keyframes epic-easing-bounce-floppy {
    0% { transform: translatey(40px); }
    2.22% { transform: translatey(29.489px); }
    4.44% { transform: translatey(1.845px); }
    6.67% { transform: translatey(35.618px); }
    8.89% { transform: translatey(35.2px); }
    11.11% { transform: translatey(15.221px); }
    13.33% { transform: translatey(6.285px); }
    15.56% { transform: translatey(7.706px); }
    17.78% { transform: translatey(16.953px); }
    20% { transform: translatey(30.544px); }
    22.22% { transform: translatey(44.916px); }
    24.44% { transform: translatey(42.864px); }
    26.67% { transform: translatey(34.678px); }
    28.89% { transform: translatey(31.224px); }
    31.11% { transform: translatey(32.134px); }
    33.33% { transform: translatey(36.283px); }
    35.56% { transform: translatey(42.167px); }
    37.78% { transform: translatey(48.276px); }
    40% { transform: translatey(46.614px); }
    42.22% { transform: translatey(43.269px); }
    44.44% { transform: translatey(41.947px); }
    46.67% { transform: translatey(42.462px); }
    48.89% { transform: translatey(44.315px); }
    51.11% { transform: translatey(46.858px); }
    53.33% { transform: translatey(49.452px); }
    55.56% { transform: translatey(48.414px); }
    57.78% { transform: translatey(47.05px); }
    60% { transform: translatey(46.551px); }
    62.22% { transform: translatey(46.824px); }
    64.44% { transform: translatey(47.648px); }
    66.67% { transform: translatey(48.746px); }
    68.89% { transform: translatey(49.845px); }
    71.11% { transform: translatey(49.265px); }
    73.33% { transform: translatey(48.71px); }
    75.56% { transform: translatey(48.525px); }
    77.78% { transform: translatey(48.663px); }
    80% { transform: translatey(49.029px); }
    82.22% { transform: translatey(49.502px); }
    84.44% { transform: translatey(49.967px); }
    86.67% { transform: translatey(49.662px); }
    88.89% { transform: translatey(49.437px); }
    91.11% { transform: translatey(49.37px); }
    93.33% { transform: translatey(49.438px); }
    95.56% { transform: translatey(49.6px); }
    97.78% { transform: translatey(-49.803px); }
    100% { transform: translatey(-50px); }
  }

nav{
    height: 5.5vw; width: 100%; display: flex; justify-content: center; padding-top: 1vw;
}
.n-it{
    height: 100%; width: 40%; display: flex; border-radius: 10px; color: aliceblue;
    justify-content: space-between; align-items: center; backdrop-filter: blur(10px);
 }
 .n-it>p{
     font-size: 1.7vw; font-family: "changa",sans-serif;
 }
@media (max-width:648px){
    .landing{
        height: 80vh; position: relative; 
    }
  
    nav{
        height: 18vw;  padding-top: 7vw;
    }
    .n-it{
        width: 80%; justify-content: space-evenly;
    }
    .n-it>p{
        font-size: 3.6vw;
    }
    .left{
         width: 70%; gap: 8vw; height: 90%; padding-top: 15vw; position: relative;
    }
    .left>p:nth-child(1){
        font-size: 5.5vw;
    }
    .left>p:nth-child(2){
        font-size: 3.5vw;
    }
    .landing>img{
        position: absolute; top: 35%; height: 10vw; width: 8vw;
    }
}
/* page started  */
.page1{
    height: 100vh; width: 98.5vw;color: #111; position: relative; display: flex;
    align-items: center; overflow: hidden;
}
.txt-area{
   position: absolute; left: 13%; 
}
.txt-area-hover{
    position: absolute;left: 13%;
}
.txt-area>p{
    font-size: 2.5vw; font-family: "montserrat",sans-serif; font-weight: 500;  opacity: .1; 
    width: 100%; font-weight: 600;
}
.txt-area-hover>p{
    font-size: 2.5vw; font-family: "montserrat",sans-serif; font-weight: 500; text-wrap: nowrap;
    overflow: hidden;  width: 0%;font-weight: 600;
}

/* page 1 ended  */
.page2{
    height: 135vh; width: 98.5vw; display: flex; justify-content: space-between;
    flex-direction: column; align-items: center;  padding-top: 6vw;
}
.p2-u{
    height: 25vh; width: 94%; border-radius: 20px; display: flex; overflow: hidden;
    text-transform: capitalize; font-family: "changa"; font-size: 7vw; white-space: nowrap; gap: 3vw; align-items: center; border: 2px solid black;
}
.skills{
    height: calc(125vh - 30vh); width: 100%;  gap: 2vw; display: flex;
  
}
.s-left{
    height: 100%; width: 60%;   display: flex; flex-direction: column; gap: 2vw;
    align-items: center; justify-content: center; 
}
.s-left>p:nth-child(1){
    font-size: 4vw; font-family: "changa"; font-weight: 500; text-transform: uppercase;
    line-height: 2vw;
}
.s-left>p:nth-child(2){
    font-size: 2.3vw; font-family: "montserrat",sans-serif; font-weight: 500;
}
.s-rght{
    width: 40%; height: 100%; display: flex; align-items: center;
}
.s-rght>img{
    height: 70%; width: 60%; object-fit: 100% 100%;
}
.tools{
    height: 60%; width: 55%; border-radius: 20px;overflow: hidden; 
    display: flex; justify-content: space-between;border: 2px solid black;
    background-image: url(https://img.freepik.com/free-vector/white-elegant-texture-wallpaper_23-2148417584.jpg?t=st=1743155929~exp=1743159529~hmac=5e2087226e21e38107419c3ba2fcbb0920680de6c3a47dc98eaee7540975e2ac&w=1380); background-position: center; background-repeat: no-repeat;
    background-size: 100% 100%;
}
.s-one{
    height: 100%; width: 32%;  display: flex; flex-direction: column;
    gap: 1.5vw; align-items: center; text-transform: capitalize; padding-top: 1vw;
    animation: html 8s linear  infinite;
}
@keyframes html {
    0%{
        transform: translateY(2%);
    }
    100%{
        transform: translateY(-112%);
    }
}
.s-one>p{
    font-family: "montserrat",sans-serif; font-size: 1.5vw;  text-shadow: 0 0 10px #111; 
}
.s-two{
    animation: html2 8s linear  infinite;
}
@keyframes html2 {
    100%{
        transform: translateY(2%);
    }
    0%{
        transform: translateY(-112%);
    }
}
.page3{
    height: 160vh; width: 98.5vw;  padding-top: 15vh;
     gap: 3vw;
}
.head{
    height: 24vh; width: 100%;  display: flex;z-index: 999; background-color: white;
    gap: 1vw; padding-left: 12vw; align-items: center;   align-self: start;
    position: sticky; top: 0;   border-top: 2px solid black;
}
.head>p{
    font-size: 7vw; font-family: "changa",sans-serif; text-transform: capitalize;
}
.head>img{
    height: 6vw; width: 7vw; 
}
.midd{
    width: 100%; height: calc(200vh - 40vh); display: flex; flex-direction: column; gap: 2vw;
    padding-top: 2vw;
}
.up-m{
    width: 100%; height: 33%;  display: flex;  justify-content: center; gap: 2vw;
}
.up0{
    height: 100%; width: 40%;  position: relative; transition: .5s all forwards; 
}
.vi{
      position: absolute; top: 0; left: 0; opacity: 0;
 }
 .gola{
    position: absolute; z-index: 999; border-radius: 50%;  top: 0; height: 4vw; width: 4vw;
    overflow: hidden; padding: 2vw 2vw; background-color: #506473; font-size: 2vw;
    display: flex; align-items: center; justify-content: center; color: #d7dcdf; opacity: 0;
 }
.up0>img{
    width: 100%; height: 100%; border-radius: 10px; 
}
.up0>video{
    width: 100%; height: 100%; border-radius: 10px; object-fit: cover; 
}
.page4{
    height: 100vh; width: 98.5vw; padding-left: 3vw; background-color: #909497; overflow: hidden;
}
.txt{
    height: 100%; width: 415%;  font-size: 19vw; font-weight: 500; color: #e5e4e2; 
    font-family: "montserrat",sans-serif; white-space: nowrap; text-transform: uppercase;
    display: flex; align-items: center; background-color: #909497; position: relative;
}

.txt>img{height: 44%; width: 5%; object-fit: 100% 100%;position: absolute; border-radius: 10px;z-index: -99; }
.txt>img:nth-child(1){ left: 10%; top: 4%;   transform: rotate(4deg); }
.txt>img:nth-child(2){ left: 20%; top: 46%;   transform: rotate(-4deg); z-index: 99; }
.txt>img:nth-child(3){ left: 34%; top: 4%;   transform: rotate(7deg); }
.txt>img:nth-child(4){ left: 50%; top: 50%;   transform: rotate(-8deg); z-index: 99;}
.txt>img:nth-child(5){ left: 64%; top: 4%;   transform: rotate(7deg); }
.txt>img:nth-child(6){ left: 80%; top: 48%;   transform: rotate(-4deg); }
.page5{
    height: 220vh; width: 98.5vw;  padding-top: 7vw; 
    display: flex; flex-direction: column; align-items: center; 
}
.p5u{
    height: 28vh; width: 94%; display: flex; border: 2px solid black; padding-left: 2vw;
    gap: 5.3vw; align-items: center; overflow: hidden; border-radius: 10px;
}
.p5u>p{
    font-size: 9vw; font-family: "montserrat",sans-serif; font-weight: 400; text-transform: uppercase;
}
.p5i{
    height: calc(220vh - 28vh); width: 100%;  display: flex;
    flex-direction: column; gap: 1vw;position: relative;
}
.v-con{
    height: 75vh; width: 28vw;  position: absolute; border-radius: 10px; top: 5%;   left: 14%;
}
.p5i>.v-con:nth-child(2){
    top: 25%; left: 55%; 
}
.p5i>.v-con:nth-child(3){
    top: 55%; left: 14%; 
}
.v-con>img{
    height: 100%; width: 100%; object-fit:cover; opacity: .2; position: relative;
   border-radius: 10px; box-shadow: 0 0 2px;object-position: center;
}
.v-con>video{
    height: 60%; width: 100%; object-fit:100% 100%; box-shadow: 0 0 1px;
    border-radius: 10px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
}
.view{
    font-size: 1vw; font-family: "changa",sans-serif; padding: 2vw 1vw; position: absolute;
    border-radius: 50%; background-color: #252d34; color: #fbf9f5; opacity: 0;
}